html, body, #background, #root{
    height: 100%;
}



.responsiveTable th{  
    background-color: #e3ad0d;
    padding: 7px;
}

.responsiveTable tr {
  background-color: #aaebd680;
  border-bottom: 1px solid #4CAF50 !important;
}

.responsiveTable td{
  padding: 7px;
}

.responsiveTable .age{
  text-align: center;
}

.viewLink{
  color: green;
  text-decoration: underline;
}







/*  ###########  Patient View By Id ############  */

#patient-select{
  min-width: 200px;
}

#data-objects-wrapper .row > .col-sm-6{
  margin-bottom: 21px;
}

.dataBody{
  border: 1px solid #777;
  border-radius: 0 0 7px 7px;
}

.dataObjectHdr{
  background-color: #607D8B;
  color: #ffffff;
  border-radius: 7px 7px 0 0;
  text-align: center;
  padding: 4px 0;
  font-size: 1.2rem;
}

.colHdr{
  background-color: #d6d3d3;
  border-bottom: 1px solid #607D8B;
  color: #607D8B;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 0;
}
.colHdr:last-child{
  border-left: 1px solid #607D8B;
  text-align: right;
}


/* allergies */
.colData{
  font-style: italic;
  font-size: .9rem;
  padding: 7px 0 7px;
}
.colData:last-child{
  text-align: right;
}

.data-row:not(:last-child){
  border-bottom: 1px solid #ccc;
}



/* immunizations, condtions */
#immunizations .colData:first-child{
  color: #343490;
}

#conditions .colData:last-child, 
#immunizations .colData:last-child{
  color: #5d5c5b;
  font-size: 0.8em;
}

#conditions .colData:first-child{
  color: #360d80;
}


#conditions-scrollarea{
  width: 100% !important;
  height: 447.4px !important;
}

#conditions-scrollarea .data-row{
  margin: 0px !important;
}



/*  Charts */
#bpChart{
  border-width: 0 0 2px;
}










#backBtn{
  margin: 15px 0 0;
}










/* larger screens */
@media only screen and (min-width: 576px){
  #navHdr{
    font-size: 1.7em;
    line-height: 74px;
  }

  #patient-select{
    float: right;
  }
}






/* smaller screens */
@media only screen and (max-width: 575px) {

  #navHdr{
    background-color: #dadada;
    border-top: 1px solid #333;
    font-size: 1em;
    padding: 4px 0;
  }

  #patient-select{
    margin-bottom: 21px;
  }

  #data-objects-wrapper{
    padding: 0px;
  }

}

